<h2><%= list.get('title') %> </h2>
<ul data-id="<%=list.id%>" class='connectedCards'> <% list.cards().each(function(card){ %>
  <li class='card_entry' data-id="<%=card.escape('id')%>" data-rank="<%=card.escape('rank')%>"> <%= card.escape('title') %>
  <button id='<%= card.escape('id')  %>' class='removeCard'>Delete Card</button>
  </li>
  <% }); %>
</ul>
<br>


<div class='formSpotCard <%=list.get('id')%>'></div>
<button class='makeCard <%=list.get('id')%>' id='<%=list.get('id')%>'>Add a Card</button>
<br>
<button class='removeList'>Remove This List</button>